<div class="carrusel">
  <carousel>
    <slide>
      <img src="http://lorempixel.com/1200/400/sports/1/" class="img-responsive" alt="First slide">
    </slide>
    <slide>
      <img src="http://lorempixel.com/1200/400/sports/" class="img-responsive" alt="Second slide">
    </slide>
    <slide>
      <img src="http://lorempixel.com/1200/400/sports/4/" class="img-responsive" alt="Third slide">
    </slide>
     <slide>
      <img src="http://lorempixel.com/1200/400/sports/3/" class="img-responsive" alt="Third slide">
    </slide>
  </carousel>
</div>
<hr>
<app-products></app-products>
