@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);

.carrusel {
    margin-left:8%;
    margin-right:8%
}
.search{
    float:right;
    /*margin-top:1%;*/
}
.navbar-nav{
    width: 90%
}
.body{
    margin-left:8%;
    margin-right:8%;
}
.footer{
    margin-left:8%;
    margin-right:8%;
}
