@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);

.carrusel {
    margin-left:8%;
    margin-right:8%
}
.search,.input-group{
    float:right;
    margin-top:1%;
}
.login{
    float:right;
}
.navbar-nav{
    width: 90%
}
.body{
    margin-left:8%;
    margin-right:8%;
}
.footer{
    margin-left:8%;
    margin-right:8%;
}
.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

#cart-badge {
    font-size: 14px;
    background: #696969;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
}
