  <div class="container">
    <!-- Static navbar -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Toures Balón </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav" >
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <!--<li class="dropdown" dropdown>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle>Dropdown <span class="caret"></span></a>
              <ul dropdownMenu role="menu" aria-labelledby="single-button">
                <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                <li class="divider dropdown-divider"></li>
                <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a></li>
              </ul>
            </li>-->
            <li class="search" >
              <div >
                <input width="100" placeholder="Buscar Plan Turistico" [(ngModel)]="selected" [typeahead]="states" class="form-control">
              </div>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div><!--/.container-fluid -->
    </nav>
</div>
<div class="carrusel">
  <carousel>
    <slide>
      <img src="http://lorempixel.com/1200/400/sports/1/" class="img-responsive" alt="First slide">
    </slide>
    <slide>
      <img src="http://lorempixel.com/1200/400/sports/" class="img-responsive" alt="Second slide">
    </slide>
    <slide>
      <img src="http://lorempixel.com/1200/400/sports/2/" class="img-responsive" alt="Third slide">
    </slide>
  </carousel>
</div>
<hr>
<div class="body" style="margin-left:5%"> 
  <div *ngFor="let plan of plans">
    <img src={{plan.event_image1}} class="img-responsive img-thumbnail" alt="none">
  </div>
</div>
<div class ="footer">
</div>
    