<div class="container">
    <div class="row">
        <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked admin-menu">
                <li class="active"><a href="#" data-target-id="home"><i class="fa fa-home fa-fw"></i>Home</a></li>
                <li><a href="http://www.jquery2dotnet.com" data-target-id="widgets"><i class="fa fa-list-alt fa-fw"></i>Ordenes</a></li>
                <li><a href="http://www.jquery2dotnet.com" data-target-id="pages"><i class="fa fa-file-o fa-fw"></i>Pages</a></li>
                <li><a href="http://www.jquery2dotnet.com" data-target-id="charts"><i class="fa fa-bar-chart-o fa-fw"></i>Charts</a></li>
                <li><a href="http://www.jquery2dotnet.com" data-target-id="table"><i class="fa fa-table fa-fw"></i>Table</a></li>
                <li><a href="http://www.jquery2dotnet.com" data-target-id="forms"><i class="fa fa-tasks fa-fw"></i>Forms</a></li>
                <li><a href="http://www.jquery2dotnet.com" data-target-id="calender"><i class="fa fa-calendar fa-fw"></i>Calender</a></li>
                <li><a href="http://www.jquery2dotnet.com" data-target-id="library"><i class="fa fa-book fa-fw"></i>Library</a></li>
                <li><a href="http://www.jquery2dotnet.com" data-target-id="applications"><i class="fa fa-pencil fa-fw"></i>Applications</a></li>
                <li><a href="http://www.jquery2dotnet.com" data-target-id="settings"><i class="fa fa-cogs fa-fw"></i>Settings</a></li>
            </ul>
        </div>
        <div class="col-md-9 well admin-content" id="home">
                <div class="content">
                    <span>Congratulations, you have successfully logged in!!</span>
                    <br />
                    <a (click)="logout()" href="#">Click Here to logout</a>
            </div>
        </div>
        
          <div class="row">
              <div class="col-md-9">
                <form class="form-horizontal" role="form">
                  <fieldset>

                    <!-- Form Name -->
                    <legend>Detalles del cliente</legend>

                    <!-- Text input-->
                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="textinput">First Name</label>
                      <div class="col-sm-10">
                        <input type="text" value="{{userArray.cust_firstname}}" class="form-control">
                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="textinput">Last Name</label>
                      <div class="col-sm-10">
                        <input type="text"  value="{{userArray.cust_lastname}}" class="form-control">
                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="textinput">Custumer Id</label>
                      <div class="col-sm-10">
                        <input type="text"  value="{{userArray.cust_id}}" class="form-control">
                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="textinput">Phone</label>
                      <div class="col-sm-10">
                        <input type="text" value="{{userArray.cust_id}}" class="form-control">
                      </div>
                    </div>

                    <div class="form-group">
                       <label class="col-sm-2 control-label" for="textinput">Email</label>
                      <div class="col-sm-10">
                        <input type="text" value="{{userArray.cust_email}}" class="form-control">
                      </div>
                    </div>

                    <div class="form-group">
                       <label class="col-sm-2 control-label" for="textinput">Address</label>
                      <div class="col-sm-10">
                        <input type="text" value="{{userArray.cust_address}}" class="form-control">
                      </div>
                    </div>


                    <!-- Text input-->
                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="textinput">Password</label>
                      <div class="col-sm-10">
                        <input type="password" value="{{userArray.cust_email}}" class="form-control">
                      </div>
                    </div>

                     <!-- Text input-->
                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="textinput">Credit Card Type</label>
                      <div class="col-sm-10">
                        <input type="password" value="{{userArray.cust_credit_card_type}}" class="form-control">
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="textinput">Credit Card Number</label>
                      <div class="col-sm-10">
                        <input type="password" value="{{userArray.cust_credit_card_number}}" class="form-control">
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-10">
                        <div class="pull-right">
                          <button type="submit" class="btn btn-default">Cancel</button>
                          <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                      </div>
                    </div>

                  </fieldset>
                </form>
              </div><!-- /.col-lg-12 -->
          </div><!-- /.row -->
          
        <!--<div class="col-md-9 well admin-content" id="widgets">
            Widgets
        </div>
        <div class="col-md-9 well admin-content" id="pages">
            Pages
        </div>
        <div class="col-md-9 well admin-content" id="charts">
            Charts
        </div>
        <div class="col-md-9 well admin-content" id="table">
            Table
        </div>
        <div class="col-md-9 well admin-content" id="forms">
            Forms
        </div>
        <div class="col-md-9 well admin-content" id="calender">
            Calender
        </div>
        <div class="col-md-9 well admin-content" id="library">
            Library
        </div>
        <div class="col-md-9 well admin-content" id="applications">
            Applications
        </div>
        <div class="col-md-9 well admin-content" id="settings">
            Settings
        </div>-->
    </div>
</div>
