<h1>Consultar Productos</h1>
<p class="lead">Usa el buscador de productos turisticos, para que encuentres tu mejor opción de viajes. </p>
<hr>
<form>
  <div class="form-group">
      <input class="form-control" type="text" placeholder="Buscar por nombre de evento..." [(ngModel)]="searchStr" name="searchStr" (keyup)="searchProduct()"/>
  </div>
</form>

  
<div *ngIf="searchRes">
  <div *ngFor="let res of searchRes">
    <div class="row">
        <div class="col-md-12">
            <div class="search-res well">
              <h4>{{res.productName}} - $ {{res.price}}</h4>
            </div>
        </div>
    </div>
     
  </div>
</div>
